/*
Assignment Name: Pacific Trails Resort Case Study
File Name: yoga.css
Date: 2/7/2019
Programmer: Olexandr Goloshchapov
*/
* {
    box-sizing:border-box;
}
header, nav, main, footer {
    display:block;
}
body {
    background-color:#3F2860;
    color:#3f2860;
    font-family:Verdana, Arial,sans-serif;
}
header {
    background-image:url("../images/lilyheader.jpg");
    background-repeat:no-repeat;
    background-position:right;
    height:150px;
    background-color:#9bc1c2;
}
main {
    padding:0em 2em 0em 2em;
    display:block;
    margin-left:170px;
    padding-top:1em;
}
nav {
    float:left;
    width:160px;
    font-weight:900;
    padding:1em;
}
nav a {
    display:block;
    text-align:center;
    font-weight:bold;
    border:3px outset gray;
    padding:1em;
    margin-bottom:1em;
    text-decoration:none; 
}
nav ul {
    list-style-type:none;
    padding-left:0;
}
a:link {
    color:#3f2860;
}
a:visited {
    color:#497777;
}
a:hover {
    color:#a26100;
    border:3px inset #333333;
}
footer {
    background-color:#9bc1c2;
    font-size:0.60em;
    text-align:center;
    font-style:italic;
    padding:1em;
}
h1 {
    padding:50px 0px 0px 2em;
}
.floatleft {
    float:left;
    margin-right:4em;
}
.studio {
    font-style:italic;
}
.clear {
    clear:both;
}
#wrapper {
    background-color:#F5F5F5;
    min-width:1200px;
    max-width:1480px;
    margin-left:auto;
    margin-right:auto;
}
/* #hero {
    text-align:center;
} */
